<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CV</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="/style.css"/> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
  <!--
   <div class="sticky-top alert alert-primary alert-dismissible fade show" role="alert">
     <p class="text-center">
       Please click <a id="submit" href="https://www.dropbox.com/s/jk3d8zdgp7qav57/cv%20citra%20puspita%20rahman%20eng.pdf?raw=1" target="_blank">this link </a>to save as pdf.
     </p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
-->
    <div id="main" class="container font-weight-bold" style="margin-top:2%;margin-bottom: 2%; color:#3d3d3d;">
        <div class="row">
            <div id="left" class="col-sm-6 col-md-6 col-lg-4">
                <div class="col-md-12 boxShadow" style="background-color:white;border:1px solid #bfbfbf;">
                    <div class="mt-2 photo-profile">
                        <figure>
                            <img class="mx-auto d-block" src="https://www.dropbox.com/s/4hg7nms9r9gdob7/citra.png?raw=1"
                                style="height:150px;">
                            <figcaption class="text-center font-weight-bold">
                                <h3>Citra Puspita Rahman</h3>
                            </figcaption>
                        </figure>
                    </div>
                    <div class="d-sm-flex mb-3 sm-icon">
                        <div class="p-2"><i class="fas fa-briefcase orange"></i></div>
                        <div class="p-2">Front End Developer</div>
                    </div>
                    <div class="d-sm-flex mb-3 sm-icon">
                        <div class="p-2"><i class="fas fa-envelope orange"></i></div>
                        <div class="p-2">citrapuspita.r@gmail.com</div>
                    </div>
                    <div class="d-sm-flex mb-3 sm-icon">
                        <div class="p-2"><i class="fa fa-mobile orange"></i></div>
                        <div class="p-2">(+90)549-822-02-46</div>
                    </div>
                    <div class="d-sm-flex mb-3 sm-icon">
                        <div class="p-2"><i class="fas fa-map-marker-alt orange"></i></div>
                        <div class="p-2">Istanbul, Turkey</div>
                    </div>
                    <div class="d-sm-flex mb-3 sm-icon">
                        <div class="p-2"><i class="fab fa-github orange"></i></div>
                        <div class="p-2">github.com/Citra-citoru</div>
                    </div>
                    <div class="d-sm-flex mb-3 sm-icon">
                        <div class="p-2"><i class="fab fa-codepen orange"></i></div>
                        <div class="p-2">codepen.io/citra-citoru</div>
                    </div>
                    <hr />
                    <div id="skills">
                        <div id="skills-title">
                          <div class="d-flex">
                            <div class="icon text-center">
                              <h4 class="my-1"> 
                                <i class="fab fa-java text-white"></i>
                              </h4>
                            </div>
                             <h4 class="p-2">
                              <strong>Top Skills</strong>
                            </h4>
                          </div>
                        </div>
                        <div class="d-sm-flex mb-3 align-items-center">
                            <div class="p-2">
                                <p class="mb-0">ReactJS</p>
                            </div>
                            <div class="p-2 flex-grow-1">
                                <div class="progress" data-toggle="tooltip" title="Intermediate">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width:80%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex mb-3 align-items-center">
                            <div class="p-2">
                                 <p class="mb-0">Angular</p>
                            </div>
                            <div class="p-2 flex-grow-1">
                                <div class="progress" data-toggle="tooltip" title="Beginner">
                                    <div class="progress-bar bg-warning" style="width:50%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex mb-3 align-items-center">
                            <div class="p-2">
                                 <p class="mb-0">.Net(DevExpress)</p>
                            </div>
                            <div class="p-2 flex-grow-1">
                                <div class="progress" data-toggle="tooltip" title="Intermediate">
                                    <div class="progress-bar bg-warning" style="width:80%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div id="languages">
                        <div id="languages-title">
                          <div class="d-flex">
                            <div class="icon text-center">
                              <h5 class="my-1"> 
                                <i class="fab fa-font-awesome-flag text-white"></i>
                              </h5>
                            </div>
                             <h4 class="p-2">
                              <strong>Languages</strong>
                            </h4>
                          </div>
                        </div>
                        <div class="d-sm-flex mb-3 align-items-center">
                            <div class="p-2">
                                <p class="mb-0">B. Indonesia</p>
                            </div>
                            <div class="p-2 flex-grow-1">
                                <div class="progress" data-toggle="tooltip" title="Native">
                                    <div class="progress-bar bg-warning" style="width:100%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex mb-3 align-items-center">
                            <div class="p-2">
                                <p class="mb-0">English</p>
                            </div>
                            <div class="p-2 flex-grow-1">
                                <div class="progress" data-toggle="tooltip" title="Spoken">
                                    <div class="progress-bar bg-warning" style="width:80%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="d-sm-flex mb-3 align-items-center">
                            <div class="p-2">
                                <p class="mb-0">Turkish</p>
                            </div>
                            <div class="p-2 flex-grow-1">
                                <div class="progress" data-toggle="tooltip" title="spoken">
                                    <div class="progress-bar bg-warning" style="width:50%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="test">
                      <p class="text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius rhoncus placerat. Sed iaculis fringilla ante, eget luctus velit varius a. 
                        Etiam aliquam est leo, commodo posuere sapien consectetur quis. Curabitur ipsum tellus, dictum laoreet ligula vel, lacinia finibus ex. 
                        Etiam aliquam est leo, commodo posuere sapien consectetur quis. Curabit
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius rhoncus placerat. Sed iaculis fringilla ante, eget luctus velit varius a.Etiam aliquam est leo, commodo  
                      </p>  
                    </div>
                </div>
            </div>
            <div id="right" class="col-sm-6 col-md-6 col-lg-8 boxShadow" style="background-color:white;border:1px solid #bfbfbf">
                <div class="col-md-12">
                    <div id="works">
                      <div id="work-title">
                          <div class="d-flex">
                            <div class="icon text-center">
                              <h5 class="my-1"> 
                                <i class="fas fa-briefcase text-white"></i>
                              </h5>
                            </div>
                             <h4 class="p-2">
                              <strong>Work Experiences</strong>
                            </h4>
                          </div>
                        </div>
                      <div id="work-list" class="d-flex">
                            <!--
                            <div class="p-2">
                               <img id="circle" src="https://www.dropbox.com/s/6p70o9fs3tuii0f/circlesline.png?raw=1"/>
                            </div>
                            -->
                            <div id="job-container" class="p-2 row">
                               <div class="col-2">
                                    <div class="circle">Circle1</div>
                                    <div id="vl-1" class="vl"></div>
                               </div>
                               <div class="col-9">
                                  <p class="job-title"><strong>Intern, Ministry of Agricultural Indonesia</strong></p>
                                  <p><i class="fa fa-calendar orange"> Aug 2014-Oct 2014 and Dec 2014-Nov 2015</i></p>
                                  <div class="job">
                                    <p>Expert System for Identification Rust and Pustule Bacterial in Soybeans (PHP & MySQL).</p>
                                    <p>Development of Application for Identification SNP on Soybean's Genome Using Rule-Based Classifier(Java, Linux).</p>
                                   </div>
                               </div>
                               <div class="col-2">
                                    <div class="circle">Circle2</div>
                                    <div id="vl-2" class="vl"></div>
                               </div>
                              <div class="col-9">
                                  <p class="job-title"><strong>Full Stack ASP.Net Developer, PT Praisindo Technology</strong></p>
                                  <p><i class="fa fa-calendar orange"> Dec 2015-May 2018</i></p>
                                  <div class="job">
                                    <p>Investment Management System (Devexpress, ASP.NET (C#), MSQL, SOAP).</p>
                                    <p>Wealth Management System (Devexpress, ASP.NET (C#), MSQL, SOAP).</p>
                                   </div>
                              </div>
                               <div class="col-2">
                                    <div class="circle">Circle3</div>
                                    <div id="vl-3" class="vl"></div>
                               </div>
                              <div class="col-9">
                                  <p class="job-title"><strong>Card Personalization System Engineer, IDEMIA</strong></p>
                                  <p><i class="fa fa-calendar orange"> June 2018-Dec 2018</i></p>
                                  <div class="job">
                                    <p>CPS application for Cards Factory (Gold, Java).</p>
                                   </div>
                              </div>
                               <div class="col-2">
                                    <div class="circle">Circle4</div>
                               </div>
                              <div class="col-9">
                                  <p class="job-title"><strong>Freelance</strong></p>
                                  <p><i class="fa fa-calendar orange"> Dec 2018 - Now</i></p>
                                  <div class="job">
                                    <p>topcoder.com : Insurance Site UI Prototype (Material UI, ReactJS) </p>
                                    <p>topcoder.com : Apophis Bunker API Implementation 1(NodeJs, PostgreSQL, swagger, JWT, REST API) </p>
                                    <p>upwork : Responsive HTML email template (HTML5, Litmus).</p>
                                   </div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div id="educations">
                       <div id="education-title">
                          <div class="d-flex">
                            <div class="icon text-center">
                              <h5 class="my-1"> 
                                <i class="fas fa-graduation-cap text-white"></i>
                              </h5>
                            </div>
                             <h4 class="p-2">
                              <strong>Educations</strong>
                            </h4>
                          </div>
                        </div>
                        <div style="margin-left: 8vh;">
                            <div>
                                <p class="orange"><strong>Formal Education</strong>
                              <ul><li>
                                <p>May 2011-Nov 2015 : Bogor Agricultural Institute, Computer Science Program.<br/> GPA (2.95)</p>
                                </li>
                              </ul>
                                </p>
                                <p class="orange"><strong>Certificates</strong>
                                  <ul>
                                    <button type="button" class="btn btn-light"><li>
                                      <a class="text-black" target="_blank" href="https://www.freecodecamp.org/certification/fcc2f08ba20-2a0d-4eaf-83e0-25eb8a97d309/responsive-web-design">Feb 2020  :FreeCodeCamp Responsive Web Design.</a></li></button>
                                   <button type="button" class="btn btn-light"><li>
                                     <a target="_blank" href="https://www.freecodecamp.org/certification/fcc2f08ba20-2a0d-4eaf-83e0-25eb8a97d309/javascript-algorithms-and-data-structures">Feb 2020  :FreeCodeCamp JavaScript and Data Structure.</a></li></button>
                                    <button type="button" class="btn btn-light"><li>
                                      <a target="_blank" href="https://www.freecodecamp.org/certification/fcc2f08ba20-2a0d-4eaf-83e0-25eb8a97d309/front-end-libraries">March 2020:FreeCodeCamp Front End Web Libraries.</a></li></button>
                                    <button type="button" class="btn btn-light"><li>
                                      <a target="_blank" href="https://www.freecodecamp.org/certification/fcc2f08ba20-2a0d-4eaf-83e0-25eb8a97d309/apis-and-microservices">March 2020:FreeCodeCamp APIs and MicroServices.</a></li></button>
                                    <button type="button" class="btn btn-light"><li>
                                              <a target="_blank" href="https://www.freecodecamp.org/certification/fcc2f08ba20-2a0d-4eaf-83e0-25eb8a97d309/data-visualization">March 2020:FreeCodeCamp Data Visualization.</a></li></button>      
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
  });
</script>
</html>